name: generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: MohamedDTamerr
          outputs: |
            dist/pacman-dark.svg?palette=github-dark&color_snake=#FFD700&color_dots=#00FFAA,#00CC88,#009966,#006644
            dist/pacman-dark.gif?palette=github-dark&color_snake=#FFD700&color_dots=#00FFAA,#00CC88,#009966,#006644
      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
